.container {
    display: flex;
    width: 800px;
    margin: auto;
    background: linear-gradient(#c7cbed, #f0d5ec);
    flex-direction: row-reverse;
}

.sidebar {
    background: linear-gradient(#644686, #e8bde1);
    padding: 60px;
    width: 300px;
    order: 2;
}


.profile-container {
    text-align: center;
    margin-bottom: 50px;
}

.profile-photo {
    width: 200px;
    height: 230px;
    border-radius: 20px;
}

.contacts-container {
    margin-top: 30px;
}

.contacts-item {
    font-weight: 200;
    font-size: 14px;
    color: #060c19;
    margin-bottom: 10px;
}

.contacts-link {
    text-decoration: underline;
    color: #050910;
}

.main-content {
    padding: 40px;
    width: calc(100% - 250px);
    order: 0;
}

.main-content-title {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 10px;
}

.content-title {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
}

.skills-list {
    padding-left: 20px;
}

.skills-item {
    font-weight: 400;
    font-size: 14px;
    color: #060a10;
    margin-bottom: 5px;
}

.pacifico-regular {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
}

.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}